:root {
  --font-family: "Roboto", sans-serif;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    //color: #333;
    background: #f8f9fa;
    //background: #fff;
    position: relative;
}

body.lock{
    overflow: hidden;
}

.container {
    max-width: 1360px;
    //width: 1360px;
    //padding: 0 64px;
    margin: 0 auto;
}

.title{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.50;
    color: #333;
}

.text_777{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color: #777;
}

.text_333{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color: #333;
}

.lock-popup {
    overflow: hidden;
    height: 100vh;
}

picture {
    display: block;
    & img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

@media (max-width: 1360px){
    .container {
        padding: 0 30px;
    }
}
@media (max-width: 1360px){
    .container {
        padding: 0 30px;
    }
    .title {
        font-size: 16px;
    }
}

@media (max-width: 650px){
    .container {
        padding: 0 13px;
    }
}

    //@media (max-width: 650px){
    //
    //}


    //.btn{
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //    font-weight: 600;
    //    font-size: 11px;
    //    letter-spacing: 0.06em;
    //    color: #fff;
    //    border: 1px solid rgba(253, 253, 253, 0.32);
    //    width: 183px;
    //    height: 48px;
    //    transition: all 0.3s ease;
    //}

    //.link{
    //    &:focus-visible{
    //        background: #6767e5;
    //    }
    //    &:hover{
    //        opacity: 0.5;
    //    }
    //    &:active{
    //        background: grey;
    //    }
    //}



    @media (max-width: 1100px){

    }

    @media (max-width: 850px){

    }

    @media (max-width: 650px){

    }

    @media (max-width: 450px){

    }



// focus (focus-visible), hover, active




// $maxWidth: 1920;
// @mixin adaptiv-value($property, $pcSize, $mobSize) {
//  $addSize: $pcSize - $mobSize;
//  $calWidth: $maxWidth - 320;
//  #{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

// .container {
//     @include adaptiv-value("font-size", 60, 30);
// }

