:root {
  --font-family: "Roboto", sans-serif;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #666;
    background: #f9f9f9;
}

.container {
    max-width: 1360px;
    //width: 1360px;
    //padding: 0 64px;
    margin: 0 auto;
}

.lock-popup {
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 1360px){
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 650px){
    .container {
        padding: 0 15px;
    }
}

//@media (max-width: 650px){
//
//}


//.btn{
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    font-weight: 600;
//    font-size: 11px;
//    letter-spacing: 0.06em;
//    color: #fff;
//    border: 1px solid rgba(253, 253, 253, 0.32);
//    width: 183px;
//    height: 48px;
//    transition: all 0.3s ease;
//}

//.link{
//    &:focus-visible{
//        background: #6767e5;
//    }
//    &:hover{
//        opacity: 0.5;
//    }
//    &:active{
//        background: grey;
//    }
//}



@media (max-width: 1100px){

}

@media (max-width: 850px){

}

@media (max-width: 650px){

}

@media (max-width: 450px){

}

// focus (focus-visible), hover, active




// $maxWidth: 1920;
// @mixin adaptiv-value($property, $pcSize, $mobSize) {
//  $addSize: $pcSize - $mobSize;
//  $calWidth: $maxWidth - 320;
//  #{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

// .container {
//     @include adaptiv-value("font-size", 60, 30);
// }

