:root {
  --font-family: "Roboto", sans-serif;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    background: #f8f9fa;
    position: relative;
}

body.lock{
    overflow: hidden;
}

.container {
    //max-width: 1360px;
    max-width: 1420px;
    //width: 1360px;
    //padding: 0 64px;
    margin: 0 auto;
    padding: 0 30px;
}

.title{
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

.title-sub{
    font-size: 20px;
    line-height: 1.3;
    color: #333;
}

.text_777{
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}

.text_666{
    font-size: 16px;
    line-height: 1.37;
    color: #666;
}

.text_333{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.lock-popup {
    overflow: hidden;
    height: 100vh;
}

picture {
    display: block;
    & img {
        width: 100%;
        height: 100%;
        display: block;
        //object-fit: contain;
    }
}

.btn{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    border: 1px solid #cecece;
    border-radius: 100px;
    &:focus-visible{
        background: rgba(112, 128, 144, 0.5);
    }
    &:hover{
        background: #333;
        color: #fff;
    }
    &:active{
        border: 3px solid #cecece;
    }
}

.list-dots li{
    position: relative;
    text-indent: 8px;
    &::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #777;
        top: 0.8em;
        left: 0;

    }
    &:first-child{
        margin-top: 0;
    }
}

@media (max-width: 1360px){
    .container {
        padding: 0 30px;
    }
    .title {
        font-size: 16px;
    }
}

@media (max-width: 650px){
    .container {
        padding: 0 13px;
    }
}

    //@media (max-width: 650px){
    //
    //}


    //.btn{
    //    display: flex;
    //    align-items: center;
    //    justify-content: center;
    //    font-weight: 600;
    //    font-size: 11px;
    //    letter-spacing: 0.06em;
    //    color: #fff;
    //    border: 1px solid rgba(253, 253, 253, 0.32);
    //    width: 183px;
    //    height: 48px;
    //    transition: all 0.3s ease;
    //}

    //.link{
    //    &:focus-visible{
    //        background: #6767e5;
    //    }
    //    &:hover{
    //        opacity: 0.5;
    //    }
    //    &:active{
    //        background: grey;
    //    }
    //}



    @media (max-width: 1100px){

    }

    @media (max-width: 850px){

    }

    @media (max-width: 650px){

    }

    @media (max-width: 450px){

    }



// focus (focus-visible), hover, active




// $maxWidth: 1920;
// @mixin adaptiv-value($property, $pcSize, $mobSize) {
//  $addSize: $pcSize - $mobSize;
//  $calWidth: $maxWidth - 320;
//  #{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

// .container {
//     @include adaptiv-value("font-size", 60, 30);
// }

