.popup {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    transition: opacity 0.8s ease, transform 0.8s ease, visibility 0.8s ease;

    &__close{
        position: fixed;
        position: absolute;
        z-index: 51;
        right: 7%;
        top: 8.5%;
        width: 25px;
        height: 25px;
        opacity: 0;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
        & span{
            display: block;
            position: absolute;
            left: -14%;
            top: 47%;
            width: 31px;
            height: 1px;
            background:  #999;
            &:first-child{
                transform: rotate(-45deg);
            }
            &:last-child{
                transform: rotate(45deg);
            }
        }
    }
    &.open{
        opacity: 1;
        visibility: visible;
    }
    &.open .popup__close{
        opacity: 1;
        visibility: visible;
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    }
    &.open .popup__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }
    &__body {
        position: relative;
        min-height: 100%;
        width: 100%;
        height: 100%;
        display: flex;
        //align-items: center;
        justify-content: center;
        padding: 2% 0;
    }

    &__content {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        width: 90%;
        //height: 93%;
        height: 386px;
        min-height: 386px;
        border-radius: 8px;
        opacity: 0;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }
}
.close-popup {
}
.burger {

    &__wrapper {
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 71px;

        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        text-align: center;
        color: #333;
    }

    &__menu-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 13px;
        margin-top: 24px;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            border-bottom: none;
        }
    }

    &__menu-link {
    }
}

//@media (max-height: 431px){
//    .popup__body {
//        padding-top: 2%;
//        align-items: start;
//    }
//}
