.burger{
    &__wrapper{
        //position: absolute;
        position: fixed;
        top: 0;
        z-index: 40;
        background: #fff;
        width: 100vw;
        height: 100vh;
        left: -100vw;
        //display: flex;
        //justify-content: center;
        //padding: 2% 0;
        transition: all 0.5s ease 0s;

        &.active {
            left: 0;
        }
    }
}

.burger {
    &__wrapper {
    }

    &__menu {
        overflow: auto;
        width: 100%;
        height: 100%;
        //height: calc(100% - 124px);
        //padding-bottom: 50px;
        padding-top: 124px;

        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        text-align: center;
        color: #333;
    }

    &__menu-item {
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 13px;
        margin-top: 24px;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            border-bottom: none;
        }
    }

    &__menu-link {
    }
}

@media (max-height: 400px){
    .burger__menu {
        //overflow: scroll;
    }
}

@media (max-width: 1100px){

}

@media (max-width: 850px){

}

@media (max-width: 650px){

}

@media (max-width: 450px){

}
