.footer{
    //margin-top: 63px;

    &__menu{
        margin: 24px auto -40px auto;
        position: relative;
        z-index: 1;
    }
    &__wrap{
        padding: 70px 0 10px 0;
        font-size: 14px;
        line-height: 1.43;
        color: #999;
        background: #fff;
        width: 100%;
    }
    &__text{
        text-align: justify;
    }

    &__rights{
        text-align: right;
    }
}

@media (max-width: 850px){
    .footer {
        //margin-top: 36px;
        &__wrap {
            padding: 13px 0 12px 0;
        }
        &__rights{
            margin-top: 15px;
        }
    }
}
@media (max-width: 650px){
    .footer {
        //margin-top: 24px;
        &__rights{
            margin-top: 8px;
        }
    }
}