.hero {
    padding: 92px 0 46px 0;
    background: #fff;

    &__wrap {
    }

    &__title {
        text-align: center;
    }
    &__row {
        margin-top: 33px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
    }
    &__card {
        width: 100%;
        text-align: center;
    }

    &__card-wrap {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        background: #fff;
        width: 100%;
        height: 370px;
    }

    &__card-photo {
        width: 100%;
        height: 54%;
    }
    &__card-img {
    }

    &__card-title {
        margin-top: 8%;
    }
    &__card-line{
        background: #e2e2e2;
        height: 1px;
        width: 81%;
        margin-inline: auto;
        margin: 5% auto 0 auto;
    }

    &__card-desc {
        margin-top: 8%;
    }

    &__card-link {
        color: #337ab7;
    }

    &__card-text {
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.57;
        color: #999;
    }
}
.link {
    &:focus-visible{
        box-shadow:  0 2px 4px rgba(0,0,0,0.2);
    }
    &:hover{
        color: #0c5294;
    }
    &:active{
        opacity: 0.6;
    }
}

@media (max-width: 1100px){
    .hero {
        padding: 10px 0 53px 0;
        &__row {
            margin-top: 10px;
            grid-template-columns: repeat(3, 1fr);
        }
        &__card {
            text-align: center;
        }
    }
}
@media (max-width: 850px){
    .hero {
        &__row {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 4%;
        }
        &__card-wrap {
            height: 351px;
        }
        &__card-photo {
            height: 58%;
        }
        &__card-title {
            margin-top: 8px;
        }
        &__card-desc {
            margin-top: 22px;
        }
        &__card-text {
            margin-top: 7px;
        }
    }
}
@media (max-width: 450px){
    .hero {
        padding: 10px 0 25px 0;
        &__row {
            gap: 28px;
            grid-template-columns: 1fr;
        }
        &__card {
            min-width: 290px;
        }
        &__card-wrap {
            height: 300px;
        }
        &__card-photo {
        }
        &__card-line{
            margin-top: 9px;
        }
        &__card-desc {
            margin-top: 18px;
        }
    }
}


