.hero {
    //margin-top: 92px;
    padding: 92px 0 46px 0;
    background: #fff;

    &__wrap {
    }

    &__title {
        text-align: center;
    }
    &__row {
        margin-top: 33px;
        //display: flex;
        //justify-content: space-around;
        //justify-content: space-between;
        //flex-wrap: wrap;
        //align-items: flex-start;
        //column-gap: 8px;
        //row-gap: 60px;
        //gap: 60px 8px ;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
    }
    &__card {
        //display: block;
        //width: 24.5%;
        //width: 98%;
        width: 100%;
        text-align: center;
        //aspect-ratio: 27/35;
        //min-height: 310px;
    }

    &__card-wrap {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        background: #fff;
        width: 100%;
        height: 370px;
        //min-height: 310px;
        //aspect-ratio: 33/37;
    }

    &__card-photo {
        width: 100%;
        height: 54%;
        //aspect-ratio: 33/20;
    }
    &__card-img {
    }

    &__card-title {
        //margin-top: 25px;
        margin-top: 8%;
    }
    &__card-line{
        background: #e2e2e2;
        height: 1px;
        width: 81%;
        margin-inline: auto;
        margin: 5% auto 0 auto;
    }

    &__card-desc {
        //margin-top: 27px;
        margin-top: 8%;
        //width: 83%;
        //text-align: center;
        //margin-inline: auto;
    }

    &__card-link {
        color: #337ab7;
    }

    &__card-text {
        margin-top: 15px;
        //text-align: center;
        //width: 95%;
        //margin-inline: auto;
        font-size: 14px;
        line-height: 1.57;
        color: #999;
    }
}
.title {
}

@media (max-width: 1100px){
    .hero {
        padding: 10px 0 53px 0;
        &__row {
            margin-top: 10px;
            grid-template-columns: repeat(3, 1fr);
            //justify-content: space-between;
            //gap: 62px 8px ;
        }
        &__card {
            //width: 24.5%;
            text-align: center;
            //min-width: 339px;
        }
        &__card-wrap {
            //aspect-ratio: 34/35;
        }
        //&__card-title {
        //    margin-top: 8px;
        //}
        //&__card-desc {
        //    margin-top: 22px;
        //}
        //&__card-text {
        //    margin-top: 7px;
        //}
    }
}
@media (max-width: 850px){
    .hero {
        &__row {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 4%;
        }
        &__card-wrap {
            //aspect-ratio: 58/35;
            height: 351px;
        }
        &__card-photo {
            height: 58%;
        }
        &__card-title {
            margin-top: 8px;
        }
        &__card-desc {
            margin-top: 22px;
        }
        &__card-text {
            margin-top: 7px;
        }
    }
}
@media (max-width: 450px){
    .hero {
        padding: 10px 0 25px 0;
        &__row {
            gap: 28px;
            grid-template-columns: 1fr;
        }
        &__card {
            //width: 24.5%;
            //text-align: center;
            min-width: 290px;
        }
        &__card-wrap {
            //aspect-ratio: 58/35;
            height: 300px;
        }
        &__card-photo {
        }
        &__card-line{
            margin-top: 9px;
        }
        &__card-desc {
            margin-top: 18px;
        }
    }
}


