.popup {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 249, 250, 0.8);
    visibility: hidden;
    opacity: 0;

    &.open{
        opacity: 1;
        visibility: visible;
    }
    &__body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }
    &__content{
        margin-top: 32px;
        position: relative;
        border-radius: 8px;
        width: 393px;
        height: 429px;
        flex-shrink: 0;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        text-align: center;
    }
    &__close{
        position: absolute;
        z-index: 61;
        right: 5%;
        top: 5%;
        //right: 40.5%;
        //top: 34%;
        width: 31px;
        height: 31px;
        &:hover{
            opacity: 0.6;
        }
        & span{
            display: block;
            position: absolute;
            //left: -14%;
            //top: 47%;
            width: 31px;
            height: 2px;
            background-color: #999;
            &:first-child{
                transform: rotate(-45deg);
            }
            &:last-child{
                transform: rotate(45deg);
            }
        }
    }

    &__icon{
        margin: 14% auto 0 auto;
        width: 90px;
        height: 90px;
    }
    &__title{
        margin: 4% auto 0 auto;
        width: 80%;
        font-size: 18px;
        line-height: 1.33;
        color: #333;
    }
    &__text{
        margin: 12% auto 0 auto;
        width: 90%;
        font-size: 16px;
        line-height: 1.5;
        color: #828282;
    }
    &__line{
        margin: 4% auto 0 auto;
        width: 90%;
        background: #e2e2e2;
        height: 1px;
    }
    &__svg{
        margin: 5.8% auto 0 auto;
        display: flex;
        justify-content: center;
        gap: 17px;
    }
    &__svg-link{
        width: 38px;
        height: 38px;
    }
    &__svg-icon{
        width: 100%;
        height: 100%;
        &:hover{
            opacity: 0.8;
        }
        &:active{
            border: 1px solid darkgrey;
        }
    }
}

@media (max-width: 850px) {
    .popup{
        &__content{
            width: 290px;
            height: 390px;
        }
        &__icon{
            margin: 51px auto 0 auto;
            width: 60px;
            height: 60px;
        }
        &__title{
            margin: 16px auto 0 auto;
            width: 98%;
        }
        &__text{
            margin: 10px auto 0 auto;
        }
        &__svg{
            margin: 27px auto 0 auto;
        }
    }
}
@media (max-width: 450px) {
    .popup{
        &__close{
            top: 4%;
        }
    }
}