.services {
    margin-top: 90px;

    &__title {
    }

    &__inner {
        margin-top: 15px;
        border-radius: 5px;
        background: #fff;
        padding: 38px 40px 65px 40px;
    }

    &__block {
        margin-top: 40px;
        &:first-child{
            margin-top: 0;
        }
    }

    &__block-title {
        font-size: 16px;
        line-height: 1.62;
        color: #333;
        margin-bottom: 8px;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 3%;
    }

    &__list {
    }

    &__list-item {
        font-size: 16px;
        line-height: 1.75;
        color: #777;
    }

    &__text {
        font-size: 16px;
        line-height: 1.37;
        color: #333;
        margin-top: 18px;
        & a{
            color: #337ab7;
        }
    }
    &__line{
        background: #e2e2e2;
        width: 100%;
        height: 1px;
        margin-top: 49px;
    }

    &__col {
        grid-column: span 2;
    }
}

@media (max-width: 1100px) {
    .services {
        margin-top: 40px;
        &__inner {
            margin-top: 15px;
            border-radius: 5px;
            background: #fff;
            padding: 24px 15px 40px 15px;
        }
        &__block {
            margin-top: 35px;
        }
        &__block-title {
            margin-bottom: 0px;
        }
        &__row {
            grid-template-columns: repeat(2, 1fr) ;
            gap: 28px 3%;
        }
        &__text {
            margin-top: 42px;
        }
        &__line{
            margin-top: 42px;
        }
        &__col {
            grid-column: span 1;
        }
    }
}

@media (max-width: 650px) {
    .services {
        margin-top: 20px;
        &__block {
            margin-top: 28px;
        }
        &__row {
            grid-template-columns: 1fr;
            gap: 12px;
        }
        &__text {
            margin-top: 18px;
        }
        &__line{
            margin-top: 30px;
        }
    }
}


