.hero {
    padding-top: 113px;
    background: #fff;

    &__block-work{
        margin-top: -80px;
    }
    &__title {

    }

    &__row {
        display: grid;
        margin-top: 44px;
        position: relative;
        z-index: 2;
    }
    &__row-parts {
        grid-template-columns: repeat(5, 1fr);
    }
    &__row-work {
        grid-template-columns: repeat(6, 1fr);
    }

    &__col {
        text-align: center;
        margin-inline: auto;
        width: 80%;
    }

    &__col-icon {
        width: 70px;
        height: 70px;
    }

    &__col-text {
        margin-top: 10px;
    }
    &__photo{
        width: 100%;
        aspect-ratio: 34/15;
        margin-top: -38px;
    }
}


@media (max-width: 1100px) {
    .hero {
        padding: 27px 0 30px 0;
        margin-top: 18px;
        &__container{
            display: contents;
        }
        &__title{
            margin-inline: 30px;
        }
        &__row {
            //margin: 33px 30px 0 30px;
            margin-top: 33px;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 29px;
        }
        &__block-work{
            margin-top: -7px;
        }
        &__row-work {
            margin-top: 20px;
        }
        &__col {
            width: 86%;
        }
        &__photo{
            margin-top: -4px;
        }
    }
}
@media (max-width: 650px) {
   .hero{
        &__row {
            grid-template-columns: repeat(2, 1fr);
        }
       &__photo{
           margin-top: 0;
       }
   }
}
@media (max-width: 450px) {
    .hero{
        padding: 33px 0 30px 0;
        margin-top: 0;
        &__block{
            display: flex;
            flex-direction: column;
        }
        &__title{
            text-align: center;
            order: 1;
        }
        &__row {
            grid-template-columns: repeat(1, 1fr);
            margin-top: -22px;
            row-gap: 24px;
            order: 3;
        }
        &__col {
            width: 70%;
        }
        &__col-text {
            margin-top: 5px;
        }
        &__photo{
            margin-top: 36px;
            order: 2;
        }
        &__block-work{
            margin-top: 50px;
        }
    }
}
