.hero {
    background: #fff;
    padding: 97px 0 67px 0;
    &__inner{
        display: flex;
    }
    &__content{
        flex: 0 0 auto;
    }

    &__title {
        font-size: 20px;
        line-height: 1.3;
        margin-top: 21px;
    }

    &__list {
        margin-top: 37px;
        &:last-child .hero__list-item{
            line-height: 1.6;
        }
    }

    &__list-item {
        font-size: 16px;
        line-height: 1.5;
        color: #333;
    }

    &__map-wrap {
        //flex: 1 1 auto;
        width: 74.5%;
        //aspect-ratio: 100/57;
        height: 570px;
        margin-left: auto;
    }

    &__map {
        width: 100%;
        height: 100%;
    }
}
.color-999 {
    color: #999;
}
.color-79509a {
    color: #79509a;
}
.color-337ab7 {
    color: #337ab7;
}

@media (max-width: 850px) {
    .hero{
        padding: 7px 0 0 0;
        margin-top: 18px;
        &__container{
            display: contents;
        }
        &__inner{
            display: block;
        }
        &__content{
            padding-inline: 30px;
        }
        &__list-wrap{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 47px 32px;
        }
        &__title {
            margin-top: 30px;
        }
        &__list {
            margin-top: 0;
        }
        &__map-wrap {
            margin-top: 48px;
            width: 100%;
        }
    }
}
@media (max-width: 450px) {
    .hero{
        padding: 7px 0 34px 0;
        margin-top: 0;
        &__content{
            padding-inline: 15px;
        }
        &__list-wrap{
            display: contents;
        }
        &__list {
            margin-top: 35px;
        }
        &__map-wrap {
            margin-top: 25px;
        }
    }

}
