@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/main/hero.scss";
@use "@/scss/main/services.scss";

@use "@/scss/main/footer-main.scss";
@use "@/scss/base/footer.scss";