@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/about/hero-about.scss";
@use "@/scss/about/video-about.scss";
@use "@/scss/about/company-about.scss";
@use "@/scss/about/deal-about.scss";
@use "@/scss/about/offers-about.scss";

@use "@/scss/about/footer-about.scss";
@use "@/scss/base/footer.scss";