@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/about/hero-about";
@use "@/scss/about/video-about";
@use "@/scss/about/company-about";
@use "@/scss/about/deal-about";
@use "@/scss/about/offers-about";

@use "@/scss/base/footer.scss";