@use "@/scss/base/null";
@use "@/scss/base/base";
@use "@/scss/base/header";
@use "@/scss/base/burger";

@use "@/scss/about/hero-about";
@use "@/scss/about/video-about";
@use "@/scss/about/company-about";
@use "@/scss/about/deal-about";
@use "@/scss/about/offers-about";

@use "@/scss/about/footer-about";
@use "@/scss/base/footer";