@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/contacts/hero.scss";

@use "@/scss/base/footer.scss";
@use "@/scss/contacts/footer-contacts.scss";