@use "@/scss/base/null";
@use "@/scss/base/base";
@use "@/scss/base/header";
@use "@/scss/base/burger";

@use "@/scss/solutions/hero-solutions";

@use "@/scss/solutions/footer-solutions";
@use "@/scss/base/footer";



