@use "@/scss/base/null.scss";
@use "@/scss/base/base.scss";
@use "@/scss/base/header.scss";
@use "@/scss/base/burger.scss";

@use "@/scss/stc/hero-stc.scss";
@use "@/scss/stc/address-stc.scss";
@use "@/scss/stc/video-stc.scss";
@use "@/scss/stc/callback-stc";
@use "@/scss/stc/services-stc.scss";

//@use "@/scss/main/services.scss";

//@use "@/scss/main/footer-main.scss";
@use "@/scss/base/footer.scss";