.company {
    margin-top: 43px;
    &__wrap {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        background: #fff;
        width: 100%;
        padding: 53px 0;
    }
    &__head{
        margin-left: 47px;
    }

    &__title {
        font-size: 20px;
        line-height: 1.3;
        color: #333;
    }

    &__text {
        margin-top: 14px;
        width: 74%;
    }

    &__line {
        background: #e2e2e2;
        height: 1px;
        width: 94%;
        margin: 33px auto 0 auto;

    }

    &__row {
        display: flex;
        gap: 5.4%;
        margin: 36px 40px 0 47px;
    }

    &__column {
        flex-basis: 48%;
        flex-shrink: 0;
    }

    &__title-list {
        font-size: 16px;
    }

    &__list {
        margin-top: 16px;
    }

    &__list-item {
        line-height: 1.74;
    }
}

@media (max-width: 850px){
    .company {
        margin-top: 25px;

        &__wrap {
            padding: 34px 0 26px 0;
        }
        &__head{
            margin-left: 14px;
        }
        &__text{
            margin-top: 18px;
            width: 98%;
        }
        &__line {
            width: 96%;
            margin: 21px auto 0 auto;
        }
        &__row {
            gap: 5.4%;
            margin: 22px 20px 10px 15px;
        }
        &__list{
            margin-top: 6px;
        }
    }
}

@media (max-width: 650px){
    .company {
        margin-top: 29px;

        &__title {
            font-size: 16px;
            line-height: 1.5;
        }
        &__text{
            margin-top: 14px;
            width: 90%;
            font-size: 15px;
            line-height: 1.47;
        }
        &__line {
            width: 90%;
            margin: 32px auto 0 auto;
        }
        &__row {
            margin: 33px 20px 0 15px;
            flex-direction: column;
            gap: 25px;
        }
        &__list {
            margin-top: 4px;
        }
    }
}

@media (max-width: 450px){

}

