.deal{
    display: none;
    margin-top: 47px;
    &__wrap{
        display: flex;
    }
    &__photo{
        flex-shrink: 0;
    }
    &__content{
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        margin-left: -12%;
        margin-top: 2.3%;
        padding-right: 50px;
    }
    &__title{
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }
    &__btn{
        width: 230px;
        margin-top: 20px;
    }
}

@media (max-width: 1100px){

}

@media (max-width: 850px){

}

@media (max-width: 650px){

}

@media (max-width: 450px){

}