.hero {
    padding: 73px 0 63px 0;
    background: #fff;

    &__title-wrapper {
        background: #f8f9fa;
        padding: 26px 15px;
        width: 100%;
    }

    &__title {
        text-align: center;
    }
    &__content {
        margin-top: 30px;
        padding-inline: 38px 43px;
    }

    &__text {
        text-align: center;
        line-height: 1.87;
    }
    &__photo{
        margin-top: 25px;
        width: 100%;
    }
    &__list-title {
        margin-top: 36px;
        line-height: 1.30;
    }

    &__list {
        margin: 13px 0 0 3px;
    }
    &__list-item{
        position: relative;
        margin-top: 4px;
        text-indent: 8px;
        &::before {
            position: absolute;
            content: "";
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: #777;
            top: 10px;
            left: -8px;
            left: 0;

        }
        &:first-child{
            margin-top: 0;
        }
    }
}

@media (max-width: 850px) {
    .hero {
        padding: 29px 0 34px 0;
        &__title-wrapper {
            padding: 26px 15px;
        }
        &__content {
            padding-inline: 0;
            margin-top: 37px;
        }
        &__text {
            line-height: 1.37;
        }
        &__text-br{
            display: none;
        }
        &__photo{
            margin-top: 35px;
        }
        &__list-title {
            margin-top: 34px;
        }
        &__list {
            margin: 11px 0 0 2px;
        }
    }
}

@media (max-width: 650px){
    .hero {
        padding: 29px 0 0 0;
        margin-inline: 13px;
        &__container{
            padding: 0 7px;
        }
        &__title-wrapper {
            padding: 26px 15px;
            width: 95%;
            margin: 0 auto;
        }
        &__content {
            margin-top: 27px;
            padding-bottom: 20px;
        }
        &__text{
            padding-inline: 8px;
        }
        &__photo{
            margin-top: 29px;
        }
        &__list-title {
            margin-top: 23px;
            padding-inline: 8px;
            line-height: 1.5;
        }
        &__list {
            margin: 20px 0 0 0;
            line-height: 1.75;
            padding-inline: 8px;
        }
        &__list-item {
            margin-top: 0;
            &::before {
                top: 12px;
            }
        }

    }
}

@media (max-width: 450px){
    hero__title-wrapper {
        margin-inline: 13px;
    }
}

