.video{
    margin-top: 108px;
    &__container{
        display: contents;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        height: 220px;
        overflow: hidden;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__play-icon{
        width: 100px;
        height: 100px;
        transition: all 0.3s ease 0s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__file{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 850px){
    .video {
        margin-top: 77px;

        &__container {
            display: block;
        }
        &__wrapper {
            height: 277px;
        }
    }
}

@media (max-width: 850px){

}

@media (max-width: 650px){
    .video {
        margin-top: 30px;

        &__container {
            display: contents;
        }
        &__wrapper {
            height: 220px;
        }
    }
}

@media (max-width: 450px){

}
